<div>
	<div>
		<section>
			    <div>
				<div>
				    <div>
					<div>
						<h3>Change Password</h3>
						<div>
							<label>Current Password</label>
							<input type="password" ng-model="vm.passwordDtls.current_password">
							</br>
							<label>New Password</label>
							<input type="password" ng-model="vm.passwordDtls.new_password">
							</br>
							<label>Confirm New Password</label>
							<input type="password" ng-model="vm.passwordDtls.confirmed_new_password">
						</div>
						<br>
						<button ng-click="vm.changePassword()">Signup</button>
					    <br>
					</div>
				    </div>
				</div>
			    </div>
		</section>
	</div>
</div>