<div>
	<div>
		<section>
			    <div>
				<div>
				    <div>
					<div>
						<h3>Signup</h3>
						<div>
							<label>Username</label>
							<input type="text" ng-model="vm.userDtls.username">
							</br>
							<label>email</label>
							<input type="email" ng-model="vm.userDtls.email">
							</br>
							<label>Password</label>
							<input type="password" ng-model="vm.userDtls.password">
						</div>
						<br>
						<button ng-click="vm.registerUser()">Signup</button>
					    <br>
					    <div>
						<a ui-sref="login">Login</a>
					    </div>
					</div>
				    </div>
				</div>
			    </div>
		</section>
	</div>
</div>